header {
  padding: 2rem 0;
  margin-bottom: 4rem; }
  header div {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
  header nav {
    margin-left: auto; }
    header nav ul {
      list-style: none;
      display: flex;
      align-items: center; }
      header nav ul li {
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 30px;
        color: #252b46;
        letter-spacing: 1px; }
        header nav ul li:not(.nav-btn) {
          padding: 10px 0;
          margin-right: 40px; }

.hero {
  position: relative;
  margin-bottom: 15rem;
  margin-top: 8rem; }
  .hero section {
    max-width: 100%; }
    .hero section div {
      width: 50%; }
      .hero section div h1 {
        max-width: 70%;
        color: #252b46;
        letter-spacing: 2px;
        margin-bottom: 1.0rem;
        font-size: 32px; }
      .hero section div p {
        color: #9194a1;
        line-height: 1.4;
        margin-bottom: 1.5rem;
        width: 75%; }
    .hero section .btn-browser {
      display: flex; }

.hero-image {
  position: absolute;
  width: 50%;
  top: -5rem;
  right: -3rem; }
  .hero-image img {
    max-width: 100%;
    max-height: 50%; }

.nav-btn, .btn-chrome, .btn-firefox {
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  cursor: pointer; }

.nav-btn {
  background-color: #fa5757;
  color: #fff; }

.btn-chrome {
  padding: 10px 18px;
  background-color: #5368df;
  color: #fff;
  font-weight: 600;
  margin-right: 1rem; }

.btn-firefox {
  padding: 10px 18px;
  background-color: #faf7f7;
  color: #5e5757;
  font-weight: 600; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Rubik", Helvetica, sans-serif;
  padding: 0 10rem;
  font-size: 16px; }
