header {
  padding: 2rem 0;
  margin-bottom: 4rem; }
  header div {
    display: flex; }
  header nav {
    margin-left: auto; }
    header nav ul {
      list-style: none;
      display: flex;
      align-items: center; }
      header nav ul li {
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 20px;
        color: #252b46; }
        header nav ul li:not(.nav-btn) {
          padding: 6px 0;
          margin-right: 20px; }

.hero {
  display: flex; }

img {
  max-width: 100%; }

.nav-btn {
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072); }

.nav-btn {
  background-color: #fa5757;
  color: #fff; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Rubik", Helvetica, sans-serif;
  padding: 0 5rem;
  font-size: 16px; }
