%btn {
  border-radius: 5px;
  box-shadow: 0 1px 4px -4px rgba(0, 0, 0, 0.2),
  0 2px 6px -2px rgba(0, 0, 0, 0.2),
  0 3px 3px -1px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  cursor: pointer;
}

.nav-btn {
  @extend %btn;
  background-color: $soft-red;
  color: #fff;
  // padding: 5px 15px;
}

.btn-chrome {
  @extend %btn;
  padding: 6px 15px;
  background-color: $soft-blue;
}

