%btn {
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  cursor: pointer;
}

.nav-btn {
  @extend %btn;
  background-color: $soft-red;
  color: #fff;
  // padding: 10px 20px;
}

.btn-chrome {
  @extend %btn;
  padding: 10px 18px;
  background-color: $soft-blue;
  color: #fff;
  font-weight: 600;
  margin-right: 1rem;
}

.btn-firefox {
  @extend %btn;
  padding: 10px 18px;
  background-color: #faf7f7;
  color: #5e5757;
  font-weight: 600;
}