header {
  padding: 2rem 0;
  margin-bottom: 4rem;

  div {
    display: flex;
  }

  nav {
    margin-left: auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        // margin-left: 10px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 20px;
        color: $very-dark-blue;

        // &:not(.nav-btn) {
        //   margin-left: 10px;
        // }
        // border: 1px solid #000;
      }
    }
  }
}
