header {
  padding: 2rem 0;
  margin-bottom: 4rem;

  div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  nav {
    margin-left: auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 30px;
        color: $very-dark-blue;
        letter-spacing: 1px;
        cursor: pointer;

        &:not(.nav-btn) {
          padding: 0 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
