.hero {
  position: relative;
  margin-bottom: 6rem;

  section {
    max-width: 100%;

    div {
      width: 50%;

      h1 {
        color: $very-dark-blue;
        letter-spacing: 2px;
        margin-bottom: 1.0rem;
        font-size: 32px;
      }
  
      p {
        color: $greyish-blue;
        line-height: 1.4;
        margin-bottom: 1.5rem;
        width: 75%;
      }
    }

    .btn-browser {
      display: flex;
    }
  }
}

.hero-image {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;

  img {
    max-width: 70%;
  }
}

