.hero {
  display: flex;

  section {
    // width: 50%;

    h1 {
      color: $very-dark-blue;
      letter-spacing: 2px;
    }

    p {
      color: $greyish-blue;
    }
  }
}

// img {
//   max-width: 100%;
// }
