// .tablinks {
//   border: none;
//   outline: none;
//   cursor: pointer;
//   background-color: #fff;
//   width: 33.3%;
//   padding: 18px 24px;
//   color: hsl(233, 8%, 57%);
//   font-size: 12px;
//   font-weight: 600;
//   transition: 0.3s;

//   &:active {
//     border-bottom: 2px solid $soft-red;
//   }
// }

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
